.header-main {
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: flex-end;
    background-color: #0D5EAF;
}

.app-name {
    font-weight: 700;
   font-family: "'Quicksand', sans-serif";
   font-size: 25px;
   letter-spacing: 10px;
   color: white;

   margin: 15px;
   margin-top: 27px;
   position: absolute;
   left: 15px;
}

.home-links {
    margin: 15px;
    margin-top: 27px;
    word-spacing: 10px;
    font-family: sans-serif;
}