.header-main {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(230, 230, 230, 0.657);
}

.app-name {
    font-weight: 700;
   font-family: "'Quicksand', sans-serif";
   font-size: 25px;
   letter-spacing: 10px;
   color: rgb(39, 39, 39);

   margin: 15px;
   margin-top: 27px;
   position: absolute;
   left: 15px;
}

.home-links {
    margin: 15px;
    margin-top: 27px;
}


