
.landing-base {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    background-image: url("/landing-bri2.jpg");
    background-size: cover;
}

.landing-main {
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

h1 {
    float: top;
   font-weight: 700;
   font-family: "'Quicksand', sans-serif";
   font-size: 75px;
   letter-spacing: 10px;
   color: rgb(39, 39, 39);
   
}

p1 {
    font-family: serif;
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    color: rgb(41, 41, 41);
    font-size: 20px;
    float: top;
    margin-bottom: 200px;
    
}

.signin-button {
   font-family: Arial, Helvetica, sans-serif;
   color: whitesmoke;
   border-radius: 5px;
   border: none;
   width: 200px;
   height: 25px;
   margin-bottom: 25px;
   /* background-color: rgb(13, 94, 175); */
   background-color: rgb(19, 127, 236);
}

.register-button {
    font-family: Arial, Helvetica, sans-serif;
   color: whitesmoke;
   border-radius: 5px;
   border: none;
   width: 200px;
   height: 25px;
   margin-bottom: auto;
   /* background-color: rgb(13, 94, 175); */
   background-color: rgb(19, 127, 236);
}

