/* @import  */

.landing-base {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/landing-bri2.jpg");
    background-size: cover;
}

.landing-main {
    text-align: center;
}

h1 {
    
}

p {
    
}

.signin-register-button {

}

