
/* ///////////////////  */

.word-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    word-spacing: 10px;
    width: 80vw;
    height: 20px;
}

p1 {
    font-size: 15px;
    
}

p2 {
    font-size: 15px;
}

.study-main {
    display: flex;
	flex-direction: column;
	/* flex-wrap: wrap; */
	justify-content: center;
	align-items: stretch;
    align-content: center;
    background-image: url("/study-bri.jpg");

}

.vocab-study {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url("/study-bri.jpg"); */
    /* background-size: cover; */
    background-position-y: center;
    background-attachment: fixed;
}



.study-words {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(214, 212, 212);
    width: 80vw;
    height: 25px;
    margin: 0;
    border: 2px;
    text-align: center;
    padding-top: 8px;
    border-radius: 15px 15px 0px 0px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.322), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.study-word-list-container {
    width: 80vw;
    height: 55vh;
    border: 2px;
    border-color: rgba(230, 230, 230, 0.657);
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: white;
    border: 2px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.study-delete-word-button {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: none;
    width: 100px;
    height: 25px;
    margin: 5px;
    border: 2px;
    border-radius: 5px;

}