.update-main {
    width: 100vw;
    height: 100vh;
}

.update-password-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-password-input {

}

.update-password-button {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    border: none;
    width: 200px;
    height: 25px;
    margin: 25px;
    border-color: rgba(230, 230, 230, 0.657);
    border: 2px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}